@Import Url('Https://Fonts.Googleapis.Com/Css2?Family=Poppins:wght@200;300;400;500&Display=Swap');

* {
  Margin: 0;
  Padding: 0;
  Box-Sizing: Border-Box;
  Font-Family: 'Poppins', Sans-Serif;
}

.body {
  Display: Flex;
  Align-Items: Center;
  Justify-Content: Center;
  Flex-Direction: Column;
  Min-Height: 100vh;
  Background: white; /* Fallback For Old Browsers */
  Background: -Webkit-Linear-Gradient(To Right, white, white); /* Chrome 10-25, Safari 5.1-6 */
  Background: Linear-Gradient(
    To Right,
    white,
    white
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.Container {
  Max-Width: 650px;
  Width: 100%;
  Padding: 30px;
  Background: rgb(223, 217, 217);
  Border-Radius: 20px;
  Box-Shadow: Rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.Drag-Area {
  Height: 400px;
  Border: 2px Dashed rgb(143, 141, 141);
  Display: Flex;
  Align-Items: Center;
  Justify-Content: Center;
  Flex-Direction: Column;
  Margin: 10px Auto;
}

H3 {
  Margin-Bottom: 20px;
  Font-Weight: 500;
}

.Drag-Area .Icon {
  Font-Size: 50px;
  Color: #1e3d5f;
}

.Drag-Area .Header {
  Font-Size: 20px;
  Font-Weight: 500;
  Color: #34495e;
}

.Drag-Area .Support {
  Font-Size: 12px;
  Color: rgb(92, 91, 91);
  Margin: 10px 0 15px 0;
}

.Drag-Area .Button {
  Font-Size: 20px;
  Font-Weight: 500;
  Color: #1683ff;
  Cursor: Pointer;
}

.Drag-Area.Active {
  Border: 2px Solid #1683ff;
}

.Drag-Area Img {
  Width: 100%;
  Height: 100%;
  Object-Fit: Cover;
}
.Download {
  Border: None;
  Color: White;
  Padding: 6px 32px;
  Text-Align: Center;
  Text-Decoration: None;
  Display: Inline-Block;
  Font-Size: 16px;
  Margin: 3px 1px;
  Border-Radius: 12px;
  Cursor: Pointer;
  Width: 100%;
}