body{
    margin: 0;
    /*화면 키우기*/
    background: black;
}
.top-wrap{
    background-color: white;
    align-items: center;
    display:flex;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    justify-content: center;
    margin-bottom: 1rem;
    min-height: 4rem;
}
.top-wrap .top-first{
 
    background-color: red;
    border-radius: 17px;
    padding-left: 10px;
    padding-right: 10px;
}
.top-wrap .top-second{

    padding-left: 20px;
}
.top-wrap .top-third{
 
    padding-left: 50px;
}
.main{

    height: 100vh;
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/d54727b4-2ad9-4e71-bb48-0899f55f103a/8e71f493-34da-4c58-8d1b-d3b6878f271f/KR-ko-20230220-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-size: cover;
    position : relative;
    display:flex;
    flex-direction: column;
}
.main:before{
    /*'': 비어있는 공간을 만들겠다*/
    content:'';
    /*그라데이션을 주겠다 오른쪽으로 갈수록,  검정색, 투명하게*/
    /*right, left, top, bottom*/
    /* background: linear-gradient(to right, black, transparent); */
    background: linear-gradient(to top, black, transparent);
    /*위치 고정*/
    position:absolute;
    /*왼쪽에 붙이기*/
    left: 0;
    height:100%;
    width: 100%;
}
.main:after{
    color:white;
}

.main .main-top{
    display: flex;
}



.main .main-top .main-top-language{
    margin-top: 30px;
    padding-left:900px ;
    position:relative;
    color:white;
    margin-left: 2px;
}

.main .main-top .main-top-language .svg{
    margin-top: 30px;
    padding-left:900px ;
    position:absolute;
    margin-left: 2px;
}

.main .main-top .main-login .btn-danger{
    position:relative;
    margin-top: 30px;
    margin-left: 30px;
    width: 100px;
    height: 40px;
}

h1{
    position: relative;
    color:white;
    font-size: 70px;
    text-align: center;
    /*위에서 200px만큼 떨어지게*/
    font-family: sans-serif;
    margin-top: 100px;
    
}
h2{
    position: relative;
    color:white;
    font-size: 40px;
    text-align: center;
    font-family: sans-serif;
}
h3{
    position: relative;
    color:white;
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
}

form{
    display:flex;
    /* input태그 가운데 정렬 */
    justify-content: center;
}

li{
    list-style:none;
}

input.email{
    position: relative;

}

.main-second .emial-start .btn-danger{
    position: relative;
}