* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  body {
    margin: 0;
    background-color: #1BBC9B;
  }
  
  .login-form {
    margin-top: 50px;
    margin-left: 50px;
    width: 300px;
    height: auto;
    border-radius: 5px;
    background-color: #D6D6D6;
    border: 5px solid lime;
    padding: 20px;
  }
    
  
  .text-field {
    width: 100%;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: none;
    color: #EEEFF1;
    border: none;
    padding:10px;
    margin-bottom: 10px;
    border: 5px solid red;
  }
  
  .submit-btn {
    width:100%;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: none;
    color: #1BBC9B;
    border: none;
    border: 5px solid blue;
  }
  
  .links {
    color: #D6D6D6;
    text-align: center;
  }
  
  .links a {
    font-size: 12px;
    color: #9B9B9B;
  }
